<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="post-container">
        <h2 class="edit-title">Edit your post</h2>
        <p class="post-info">Post id: <%= post.id %></p>
        <p class="post-info">Post username: <%= post.username %></p>
        <form class="edit-form" method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea class="edit-textarea" name="content" id="" cols="30" rows="10"><%= post.content %></textarea>
            <br><br>
            <button class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
