<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username" type="text"> <br><br>
        <textarea placeholder="write your post" name="content" id="" cols="30" rows="10"></textarea> <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>